In [9]:
#import everything
import torch
import torch.nn as nn
import torch.optim as optim
import torch.nn.functional as F
from torchvision import datasets, transforms
import numpy as np
import math
import time
import keyboard
import matplotlib.pyplot as plt
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from transformers import AdamW
from torch.utils.data import DataLoader, Dataset
from transformers import BertTokenizer, BertForSequenceClassification
import spacy
import pydantic
import requests
from bs4 import BeautifulSoup
from lumibot.brokers import Alpaca
from alpaca_trade_api import REST
from datetime import datetime, timedelta 
import time as Time

In [15]:
# Setup the API
API_KEY = "PKWG828Y4OQ3Q081LAH0" 
API_SECRET = "tS8dvpp3GEXUdOfg5Nbtjn81C0y5Lghpidxr8Guy" 
BASE_URL = "https://paper-api.alpaca.markets/v2"
ALPACA_CREDS = {
    "API_KEY":API_KEY, 
    "API_SECRET": API_SECRET, 
    "PAPER": True
}
api = REST(base_url=BASE_URL, key_id=API_KEY, secret_key=API_SECRET)

In [16]:
help(api.get_bars)

Help on method get_bars in module alpaca_trade_api.rest:

get_bars(symbol: Union[str, List[str]], timeframe: alpaca_trade_api.rest.TimeFrame, start: Optional[str] = None, end: Optional[str] = None, adjustment: str = 'raw', limit: int = None, feed: Optional[str] = None, asof: Optional[str] = None, sort: Optional[alpaca_trade_api.rest.Sort] = None) -> alpaca_trade_api.entity_v2.BarsV2 method of alpaca_trade_api.rest.REST instance

In [17]:
# Function to fetch data in chunks
def fetch_data(symbol, start_date, end_date):
    return api.get_bars(symbol, timeframe, start=start_date, end=end_date, adjustment='raw').df

# Date range chunks
date_ranges = [
    ('2015-01-01', '2015-12-31'),
    ('2016-01-01', '2016-12-31'),
    ('2017-01-01', '2017-12-31'),
    ('2018-01-01', '2018-12-31'),
    ('2019-01-01', '2019-12-31'),
    ('2020-01-01', '2020-12-31'),
    ('2021-01-01', '2021-12-31'),
    ('2022-01-01', '2022-12-31'),
    ('2023-01-01', '2023-12-31')
]


symbol = "SPY"
timeframe = "1Day"

# Fetch data for all ranges
all_data = pd.DataFrame()
for start, end in date_ranges:
    data = fetch_data(symbol, start, end)
    all_data = pd.concat([all_data, data])
    print("Sleeping for 2 sec...")
    time.sleep(2)
    

# Reset index and print
all_data = all_data.reset_index()
print(all_data)

Sleeping for 2 sec...
Sleeping for 2 sec...
Sleeping for 2 sec...
Sleeping for 2 sec...
Sleeping for 2 sec...
Sleeping for 2 sec...
Sleeping for 2 sec...
Sleeping for 2 sec...
Sleeping for 2 sec...
                     timestamp     close    high     low  trade_count  \
0    2016-01-04 05:00:00+00:00  201.0192  201.03  198.59       655489
1    2016-01-05 05:00:00+00:00  201.3600  201.90  200.05       418709
2    2016-01-06 05:00:00+00:00  198.8200  200.06  197.60       548386
3    2016-01-07 05:00:00+00:00  194.0500  197.44  193.59       796451
4    2016-01-08 05:00:00+00:00  191.9230  195.85  191.58       754102
...                        ...       ...     ...     ...          ...
2007 2023-12-22 05:00:00+00:00  473.6500  475.38  471.70       485465
2008 2023-12-26 05:00:00+00:00  475.6500  476.58  473.99       348986
2009 2023-12-27 05:00:00+00:00  476.5100  476.66  474.89       425538
2010 2023-12-28 05:00:00+00:00  476.6900  477.55  476.26       374241
2011 2023-12-29 05:00:00+00:00  475.3100  477.03  473.30       604247

         open     volume        vwap
0     200.490  225903783  200.656423
1     201.405  112719152  201.084280
2     198.330  153948196  198.956460
3     195.330  216191953  195.345911
4     195.190  216105404  193.644537
...       ...        ...         ...
2007  473.860   67131807  473.800078
2008  474.070   55386952  475.111253
2009  475.440   68000811  475.770446
2010  476.880   77158117  476.774686
2011  476.490  122268009  475.364010

[2012 rows x 8 columns]

In [18]:
all_data.to_csv("market_data", index=True)

In [19]:
all_data

,timestamp,close,high,low,trade_count,open,volume,vwap
0,2016-01-04 05:00:00+00:00,201.0192,201.03,198.59,655489,200.490,225903783,200.656423
1,2016-01-05 05:00:00+00:00,201.3600,201.90,200.05,418709,201.405,112719152,201.084280
2,2016-01-06 05:00:00+00:00,198.8200,200.06,197.60,548386,198.330,153948196,198.956460
3,2016-01-07 05:00:00+00:00,194.0500,197.44,193.59,796451,195.330,216191953,195.345911
4,2016-01-08 05:00:00+00:00,191.9230,195.85,191.58,754102,195.190,216105404,193.644537
...,...,...,...,...,...,...,...,...
2007,2023-12-22 05:00:00+00:00,473.6500,475.38,471.70,485465,473.860,67131807,473.800078
2008,2023-12-26 05:00:00+00:00,475.6500,476.58,473.99,348986,474.070,55386952,475.111253
2009,2023-12-27 05:00:00+00:00,476.5100,476.66,474.89,425538,475.440,68000811,475.770446
2010,2023-12-28 05:00:00+00:00,476.6900,477.55,476.26,374241,476.880,77158117,476.774686
2011,2023-12-29 05:00:00+00:00,475.3100,477.03,473.30,604247,476.490,122268009,475.364010